/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* styling reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--hijau);
  background-color: var(--cream);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button {
    border: none;
    transition: all ease-in 0.1s;
}

button:hover {
    filter: brightness(70%);
}

/* variables */
:root {
  --hijau-tua: #103d2a;
  --hijau-muda: #95ffb2;
  --orange: #fcb43d;
  --toska: #3de5e8;
  --cream: #fff5e5;
}
