main {
    position: sticky;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--hijau-tua);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 28px 48px;
    margin: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card-btn button {
    border: 2px solid var(--orange);
    background-color: var(--orange);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.card-content h4,
.card-content p {
    margin: 8px 0;
}

@media only screen and (max-width: 820px) {

    * {
        font-size: 1rem;
    }

    .card {
        width: 70%;
        padding: 16px 24px;
        margin: 1.5rem;
    }

    .card-content h4,
    .card-content p {
        font-size: 0.8rem;
        margin: 4px 0;
    }

    .card-btn button {
        padding: 4px 8px;
        border-radius: 8px;
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 0.5rem;
        cursor: pointer;
    }


}

@media only screen and (max-width: 500px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}