nav {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--hijau-tua);
  padding: 0 96px;
  color: white;
}

.nav-left,
.nav-right,
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-left .logo {
  width: 100px;
  height: 48px;
  margin-right: 48px;
}

.nav-menu li a,
.login {
  margin-right: 48px;
  font-weight: 600;
  color: var(--hijau-muda);
}

.register {
  background-color: var(--orange);
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 8px;
}

.hero {
  width: 100%;
  height: 75vh;
  background-color: var(--hijau-tua);
  color: var(--cream);
  padding: 0 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 16px;
}

.hero-desc .hero-btn {
  margin-top: 64px;
}

.hero-btn .pesan-les {
  background-color: var(--orange);
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: 600;
  margin-right: 32px;
}

.hero-btn a {
  color: var(--toska);
  font-weight: 600;
}

.hero-img {
  align-self: flex-end;
}

.hero-img img {
  width: 450px;
  position: relative;
  bottom: -80px;
}
