nav {
    margin-top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hijau-tua);
    padding: 0 96px;
    color: white;
    position: fixed;
    z-index: 1;
}

.nav-left,
#nav-right,
#nav-menu {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 48px;
    margin-right: 48px;
}

#nav-menu li a,
.login {
    margin-right: 48px;
    font-weight: 600;
    color: var(--hijau-muda);
    position: relative;
    transition: all ease-in 0.1s;
}

#nav-menu li a:hover,
.login:hover {
    color: white;
}

#nav-menu li a::before,
.login:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -27px;
    width: 100%;
    height: 3px;
    border: none;
    background-color: var(--hijau-muda);
    transition: all ease-in 0.1s;
    visibility: hidden;
}

#nav-menu li a:hover::before,
.login:hover:before {
    visibility: visible;
    background-color: white;
}

.register {
    background-color: var(--orange);
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
}

.hero {
    width: 100%;
    height: 75vh;
    position: relative;
    top: 75px;
    background-color: var(--hijau-tua);
    color: var(--cream);
    padding: 0 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-desc .hero-btn {
    margin-top: 64px;
}

.hero-btn .pesan-les {
    background-color: var(--orange);
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 32px;
    cursor: pointer;
}

.hero-btn a {
    color: var(--toska);
    font-weight: 600;
    transition: all ease-in 0.2s;
}

.hero-btn a:hover {
    filter: brightness(80%);
}

.hero-img {
    align-self: flex-end;
}

.hero-img img {
    width: 450px;
    position: relative;
    bottom: -80px;
}

#hamburger {
    display: none;
}

@media only screen and (max-width: 1024px) {
    body {
        margin-bottom: 200px;
    }

    .hero {
        text-align: center;
        padding-top: 64px;
        flex-direction: column;
        height: 130vh;
    }

    .hero-img {
        align-self: auto;
    }

    .hero-img img {
        width: 500px;
        bottom: -50px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-btn .pesan-les {
        margin-right: 0;
    }

    .hero-btn a {
        margin-top: 32px;
    }
}

img.profile {
    width: 2.2rem;
}


@media only screen and (max-width: 768px) {

    .logo {
        width: 80px;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav {
        padding: 0 32px;
        position: fixed;
    }

    .hero {
        padding: 16px 32px;
    }

    #hamburger {
        display: block;
    }

    #nav-menu li a:hover,
    #nav-right .login:hover {
        color: var(--orange);
    }

    #nav-menu li a:hover::before,
    .login:hover:before {
        visibility: hidden;
        background-color: white;
    }

    #nav-menu.active {
        display: flex;
    }

    #nav-right.active {
        display: flex;
    }

    #nav-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 75px;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: var(--cream);
        z-index: 1;
    }

    #nav-menu li a {
        display: block;
        margin: 0;
        color: var(--hijau-tua);
        padding: 16px 0;
    }

    #nav-right {
        display: none;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        padding: 16px 0;
        top: 296px;
        left: 0;
        right: 0;
        background-color: var(--cream);
        transition: all ease-in 0.2s;
    }

    #nav-right .login {
        margin: 0;
        margin-bottom: 24px;
        color: var(--hijau-tua);
    }

    #hamburger .line {
        display: block;
        margin: 8px 0;
        height: 2px;
        width: 32px;
        background-color: var(--hijau-muda);
        transition: all ease-in 0.1s;
    }

    #hamburger.active .line:nth-child(2) {
        visibility: hidden;
    }

    #hamburger.active .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    #hamburger.active .line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}