.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.form-title h1,
.form-title p {
    text-align: center;
}

.form-section {
    margin: 2rem 0;
}

.peserta-les,
.materi,
.waktu-les,
.lokasi-les,
.info {
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.peserta-les h3,
.materi h3,
.waktu-les h3,
.lokasi-les h3,
.info h3 {
    margin-bottom: 0.5rem;
}

.radio-peserta #rd-individu,
.radio-peserta #rd-kelompok,
.rd-pendidikan #rd-sd,
.rd-pendidikan #rd-smp,
.rd-pendidikan #rd-smp,
.rd-pendidikan #rd-sma,
.lokasi-les #rd-on,
.lokasi-les #rd-off {
    margin-left: 1rem;
}

textarea {
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.5);
    width: 96%;
    padding: 10px;
    box-sizing: border-box;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: 1rem;
}

#select-topik,
#date,
#time,
#mulai,
#selesai {
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 8px 8px;
    box-sizing: border-box;
    font-size: 15px;
    margin-left: 1rem;
}

.form-section h3 {
    margin-left: 1rem;
}

.form-section p {
    margin-left: 1rem;
    margin-top: 1rem;
}

input[type='radio']:after {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: rgb(255, 255, 255);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--orange);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    /* content: ''; */
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--orange);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-batal {
    border: 2px solid var(--orange);
    background-color: var(--cream);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 32px;
    cursor: pointer;
}

#btn-pesan {
    border: 2px solid var(--orange);
    background-color: var(--orange);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 32px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    * {
        font-size: 1rem;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .peserta-les,
    .materi,
    .waktu-les,
    .lokasi-les,
    .info {
        width: 90%;
    }

    .button {
        margin-left: 35px;
    }

    #btn-batal,
    #btn-pesan {
        font-size: 0.75rem
    }

}