body {
    background-color: white;
    color: var(--hijau-tua);
}

main {
    position: relative;
    top: 75px;
}

.teacher-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 128px;
    background-color: var(--cream);
}

.header-info {
    display: flex;
    align-items: center;
}

.header-btn button {
    padding: 16px 16px;
    font-weight: 700;
    background-color: var(--orange);
    border-radius: 8px;
}

.header-info img {
    width: 144px;
    margin-right: 64px;
}

.header-text .name {
    font-weight: 700;
    font-size: 32px;
}

.header-text .alamat {
    font-size: 12px;
    color: #6C7079;

}

.return-btn {
    position: absolute;
    top: 88px;
    left: 48px;
    cursor: pointer;
    width: 32px;
}

.teacher-main {
    margin: 1rem auto;
    width: 656px;
}

.sub-navbar {
    border-bottom: 1px solid #C9CBCF;
}

.sub-navbar-menu {
    display: flex;
}

.sub-navbar-menu li {
    margin-right: 24px;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 0;
    position: relative;
}

.navbar-menu::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--hijau-tua);
    transition: all ease-in 0.1s;
    /* visibility: hidden; */
}

.navbar-menu.hidden::before {
    visibility: hidden;
}

.navbar-menu.hidden {
    color: #8E919A;
}

.sub-menu {
    display: block;
}

.sub-menu.hidden {
    display: none;
}

#ulasan.sub-menu.hidden {
    display: none;
}

#profil-diri,
#pengalaman,
#ulasan {
    margin-top: 16px;
}

#profil-diri h2,
#pengalaman h2,
#ulasan h2 {
    margin-bottom: 8px;
}

.deskripsi-diri,
.edukasi,
.bidang-ajar {
    margin-bottom: 32px;
}

.profil-diri-bawah {
    display: flex;
}

.edukasi {
    margin-right: 128px;
}

.edukasi p:first-child {
    font-weight: 600;
}

.edukasi p:last-child {
    margin-bottom: 16px;
}

.bidang-ajar ul li {
    margin-bottom: 8px;
}

/* .hidden {
    display: none;
} */

/* Menu Pengalaman */
.pengalaman-detail .posisi {
    font-weight: 600;
}

.pengalaman-status p {
    display: inline;
    font-size: 12px;
    color: #8E919A;
}

.pengalaman-status {
    margin-bottom: 8px;
}

.pengalaman-detail .deskripsi {
    margin-bottom: 24px;
}

/* ulasan */
#ulasan {
    display: flex;
    justify-content: space-between;
}

.detail-rating {
    margin-bottom: 32px;
}

.bintang {
    display: flex;
    margin-bottom: 8px;
}

.rating-pengajar {
    width: 60%;
}

.rating-pengajar .nama {
    color: #8E919A;
    font-size: 12px;
    margin-bottom: 16px;
}

.overall-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
}

.rating h2 {
    margin-top: 8px;
    margin-left: 8px;
}

@media only screen and (max-width: 768px) {
    main {
        overflow: hidden;
    }

    .teacher-header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 0;
    }

    .header-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 256px;
        margin: 0;
    }

    .header-info img {
        margin: 16px 0;

    }

    .header-text .jurusan {
        margin-top: 16px;
    }

    .header-text .alamat {
        margin-bottom: 32px;
    }

    .header-btn {
        width: 200px;
        padding: 8px;
    }

    .teacher-main {
        margin: 16px;
        max-width: 80vw;
    }

    .sub-navbar {
        width: 80vw;
    }

    .profil-diri-bawah {
        flex-direction: column;
    }

    .edukasi {
        width: 100%;
        margin-bottom: 16px;
    }

    #ulasan {
        flex-direction: column;
    }

    .overall-rating {
        order: -1;
        align-items: flex-start;
        margin-bottom: 32px;
    }

    .rating-pengajar {
        width: 100%;
    }

    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .return-btn {
        top: 108px;
        left: 10vw;
    }
}