:root {
  --hijau-tua: #103d2a;
  --hijau-muda: #95ffb2;
  --orange: #fcb43d;
  --toska: #3de5e8;
  --cream: #fff5e5;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--hijau-tua);
}

#teacher {
  padding-top: 75px;
}

.teacher__title {
  padding-top: 25px;
}

.teacher__title h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 25px;
}

#search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form-input input {
  display: block;
  width: 250px;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btn-search {
  padding: 10px 15px;
  background-color: var(--orange);
  color: #222222;
  border-radius: 4px;
  cursor: pointer;
}

.list__container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card-wrapper {
  /* width: 30%; */
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.card-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.card-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  text-align: center;
}

.card-rating {
  text-align: center;
}

.card__rating-rating {
  font-size: 1.5rem;
}

.card__rating-rating span {
  font-size: 1.3rem;
  font-weight: 600;
}

.card__rating-review {
  font-size: 0.8rem;
}

/* Responsive */

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .teacher__title h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  .list__container-card {
    grid-template-columns: repeat(2, 1fr);
  }

  #teacher-list {
    margin-bottom: 0;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .list__container-card {
    grid-template-columns: repeat(1, 1fr);
  }
}